<%%= form_for(@<%= singular_name %>) do |f| %>
  <div class="module_content">
    <%% if @<%= singular_name %>.errors.any? %>
      <div id="error_explanation">
        <h4 class='alert_error'><%%= pluralize(@<%= singular_name %>.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
        <%% @<%= singular_name %>.errors.full_messages.each do |msg| %>
          <li><%%= msg %></li>
        <%% end %>
        </ul>
      </div>
    <%% end %>

    <%- model_attributes.each do |attribute| -%>
    <div class="field">
      <label><b><%%= I18n.t :<%= attribute.name %> %></b></label>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </div>
    <%- end -%>
  </div>
  <%%= link_to arrow_left, <%= plural_name %>_path %>
  <%%= submit_link(f) %>
  <%%= submit_tag(I18n.t(:clear), class: 'btn btn-inverse', type: "reset" ) %>
  <%%= link_to(I18n.t(:show), @<%= singular_name %>, class: 'btn') if params[:action] == 'edit' %>
<%% end %>
